.container {
  padding: 0 15px 0 15px;
}

.containerFlex {
  display: flex;
}

.content {
  padding-left: 10px;
}

.text {
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

.list {
  display: flex;
  justify-content: center;
}

.listItem {
  padding: 10px 0 10px 0;
}

.listItem:not(:last-child) {
  margin-right: 30px;
}

.link {
  font-weight: 700;
  color: black;
}

.link:hover {
  color: #5e537e;
}
